[format]
max-line-length = 79
good-names=i, j, k, ex, Run, df, p, se

disable=C0209,C0114,C0115,C0116,R0801,W0201,E0211,W0621,W0718,W0622

# Check codes on: https://pylint.pycqa.org/en/latest/search.html?q=&check_keywords=yes&area=default#
# R0801 finds duplicated code
# W0107 Unnecessary pass statement https://pylint.pycqa.org/en/latest/user_guide/messages/warning/unnecessary-pass.html
# C0209 consider-using-f-string https://pylint.pycqa.org/en/latest/user_guide/messages/convention/consider-using-f-string.html
# C0209 disabled because logging does not accept f-string

[BASIC]
max-line-length = 79

# Good variable names which should always be accepted, separated by a comma
good-names=i,j,k,ex,Run,df,p,se

# Bad variable names which should always be refused, separated by a comma
bad-names=foo,bar,baz,toto,tutu,tata,my_var,myvar,my-var,var

# Include a hint for the correct naming format with invalid-name
include-naming-hint=yes

# Minimum line length for functions/classes that require docstrings, shorter
# ones are exempt.
docstring-min-length=-1

[DESIGN]

# Maximum number of arguments for function / method
max-args=7
min-public-methods=2
max-public-methods=25

[REPORTS]
# Python expression which should return a note less than 10 (10 is the highest
# note). You have access to the variables errors warning, statement which
# respectively contain the number of errors / warnings messages and the total
# number of statements analyzed. This is used by the global evaluation report
# (RP0004).
evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10)

[MISCELLANEOUS]
# notes='TODO'

[MESSAGES CONTROL]
disable=import-error,no-name-in-module
